body,html{
    height:100%;
}

.background{
    background-image: url('../assets/background.jpg');
    height: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-icons {
    opacity: 0;
    display: flex;
    justify-content: center;
    animation: fade-icon 0.75s forwards;
}
.a-icons {
    padding: 10px;
    color: inherit;
}

@keyframes fade-icon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}