.card-layout{
    padding: 40px;
}
.background{
    background-image: url("https://i.ibb.co/Pwvbxf4/pexels-mudassir-ali-2680270.jpg");
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}